<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <!-- The following viewport code is intended to fullscreen the cockpit and prevent scrolling -->
    <meta id="Viewport" name="viewport" width="initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <script type='text/javascript' src="js/libs/jquery.min.js"></script>
    <script type='text/javascript' src="js/libs/jquery-ui.min.js"></script>

    <script type="text/javascript">
    // this code again helps prevent scrolling and sets viewport for mobile
    $(function(){
    if( /Android|webOS|iPhone|iPad|iPod|BlackBerry/i.test(navigator.userAgent) ) {
      var ww = ( $(window).width() < window.screen.width ) ? $(window).width() : window.screen.width; //get proper width
      var mw = 480; // min width of site
      var ratio =  ww / mw; //calculate ratio
      if( ww < mw){ //smaller than minimum size
       $('#Viewport').attr('content', 'initial-scale=' + ratio + ', maximum-scale=' + ratio + ', minimum-scale=' + ratio + ', user-scalable=yes, width=' + ww);
      }else{ //regular size
       $('#Viewport').attr('content', 'initial-scale=1.0, maximum-scale=2, minimum-scale=1.0, user-scalable=yes, width=' + ww);
      }
    }
    });
    </script>

    <title><%= title %></title>
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link href="css/bootstrap-responsive.css" rel="stylesheet">
        <link rel="stylesheet" href="themes/OpenROV/css/style.css">
        <link href="css/ui-lightness/jquery-ui-1.8.23.custom.css" rel="stylesheet" />
    <% for(var i=0; i<styles.length; i++) {%>
    <link rel="stylesheet" href="<%= styles[i] %>"><% } %>

  </head>

  <script type='text/javascript' src="js/libs/eventemitter2.js"></script>
  <script type='text/javascript' src="js/libs/bootstrap.min.js"></script>
  <script type='text/javascript' src="js/libs/mousetrap.min.js"></script>
  <script type='text/javascript' src='js/libs/knockout-2.1.0.js'></script>
  <script type='text/javascript' src='js/libs/gamepad.js'></script>
  <script type='text/javascript' src='js/utilities.js'></script>
  <script type='text/javascript' src="js/frame.js"></script>
  <script type='text/javascript' src="js/cockpit.js"></script>
  <script type='text/javascript' src='js/libs/db.js'></script>
  <script type='text/javascript' src="js/libs/IndexedDBShim.min.js"></script>
  <script type='text/javascript' src="/config.js"></script>
  <script type='text/javascript' src="/socket.io/socket.io.js"></script>

  <script type='text/javascript' src="bower_components/knockout.validation/Dist/knockout.validation.js"></script>
  <script type='text/javascript' src='js/knockout-extentions.js'></script>

  <% for(var i=0; i<scripts.length; i++) {%>
  <script type="text/javascript" src="<%= scripts[i] %>"></script><% } %>

  <body>


      <div class="navbar navbar-inverse navbar-fixed-top nav-collapse">
      <div class="navbar-inner">
        <a class="brand" href="#"><img src="themes/OpenROV/img/openrov.png" class="logo"/><span class="navbar-titel">Cockpit</span></a>
        <ul class="nav" id="navtoolbar">
          <li><a href="#"><img id="keyboardpopover" src="themes/OpenROV/img/keyboard.png" data-trigger="hover" data-placement="bottom" rel='popover' title="keyboard commands" html="true" /></a></li>
          <li><a href="#" id="servoTilt"></a></li>
        </ul>
        <ul id="menuitems" class="nav pull-right">
          <li><a href="#" id="show-settings">Settings</a></li>
          <li><a href="#" id="show-diagnostic">Diagnostic</a></li>
        </ul>
      </div>
    </div>

        <!-- Main ROW -->
        <div id="main-row" class="container-fluid full-height">
          <div class="row-fluid full-height">
            <div class="span9 border full-height" id="outter-videocontainer">
              <div id="video-container" class="full-height center pagination-centered" border='1'>
                <img class="hidden" id="video" src="themes/OpenROV/img/no_camera.jpg"/>
                <canvas id='video-canvas'/>
              </div>
            </div>
            <div id="rov_status_panel" class="span3 pull-right visible-desktop" style="overflow: auto; height: 100%">
              <div id="buttonPanel" class="controller well well-small"></div>
          </div>
            </div>
          </div>
        </div>
        <div id="footer" class="navbar navbar-inverse navbar-fixed-bottom nav-collapse collapse visible-desktop">
	    <div class="navbar-inner">
		<div id="footercontent" class="container-fluid" style="height: 100%">
		</div>
	    </div>
        </div>


        <!-- SETTINGS -->
        <div class="drop-in-right" id="settings">
          <div class="back-button"></div>
            <h2>Settings</h2>
            <div class="accordion" id="plugin-settings"></div>
          </div>
        </div>

        <div class="drop-in-right" id="diagnostic">
            <div class="back-button"></div><h3>Diagnostics</h3>
            <div class="settings-block">
                <h4>Pre-Flight Check</h4>
            </div>
	    <div class="settings-block">
	      <h4>Calibration</h4>
	      <a href="#" class="btn" id="callibrate_compass">Calibrate Compass</a>
	      <a href="#" class="btn" id="zero_depth">Zero Depth</a>
	    </div>

        </div>
        <div class="hidden" id="keyboardInstructions">
            <p>
                Use the <i>Up</i>, <i>Down</i>, <i>Left</i>, <i>Right</i>, <i>Shift</i> and <i>Ctrl</i> keys to maneuver.
                Use <i>1</i>-<i>5</i> to set power.
            </p>
            <p>Use <i>Q</i>, <i>A</i>, <i>Z</i> to tilt servo.</p>
            <p>Use <i>o</i>, <i>p</i> to increase brightness of lights.</p>
		    <p>Use <i>l</i> to toggle callibration lasers.</p>
        </div>




    </body>
<script type='text/javascript' src="js/view_index.js"></script>

</html>
